<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro = "http://www.ros.org.wiki/xacro">
  <!-- start here to *  -->
  <xacro:macro name="null_inertial">
    <inertial>
      <mass value="0.1"/>
    <inertia ixx="0.01" ixy="0" ixz="0"
          iyy="0.01" iyz="0"
          izz="0.01"/>
    </inertial>
  </xacro:macro>
  
  <xacro:macro name="Livox_Hap_gazebo" params="name:=livox_HAP">
    <gazebo reference="livox_HAP">
      <sensor type="ray" name="laser_livox_HAP">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>10</update_rate>
        <!-- This ray plgin is only for visualization. -->
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
			  <ray>
          <scan>
            <horizontal>
              <samples>100</samples>
              <resolution>1</resolution>
		    		  <min_angle>-1.047196667</min_angle>
		    		  <max_angle>1.047196667</max_angle>
            </horizontal>

            <vertical>
		    		  <samples>50</samples>
		    		  <resolution>1</resolution>
		    		  <min_angle>-0.218165972</min_angle>
		    		  <max_angle>0.218165972</max_angle>
		    		</vertical>
          </scan>

          <range>
		    		<min>0.1</min>
		    		<max>200.0</max>
		    		<resolution>0.002</resolution>
          </range>

          <noise>
		    		<type>gaussian</type>
		    		<mean>0.0</mean>
		    		<stddev>0.01</stddev>
		    	</noise>
        </ray>

      <visualize>true</visualize>
		  <samples>45300</samples>
		  <downsample>1</downsample>
		  <csv_file_name>package://immersion_sim/scan_mode/HAP.csv</csv_file_name>
		  <ros_topic>scan</ros_topic>
      </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <xacro:macro name="Livox_HAP" params="visualize:=True name:=livox">
    <link name="Livox_HAP_base">
      <xacro:null_inertial/>
      <visual> 
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://immersion_sim/meshes/livox_mid40.dae">
          </mesh>
        </geometry>
      </visual>

      <collision>
		    <origin xyz="0.0 0.0 0.0" rpy="0 0 0" /> <geometry> 
        <mesh filename="package://immersion_sim/meshes/livox_mid40.dae"> </mesh>
        </geometry>
      </collision>
    </link>

    <link name="Livox_HAP">
      <xacro:null_inertial/>
    </link>

    <joint name="Livox_HAP_base_to_Livox_HAP_joint" type="fixed">
      <parent link="Livox_HAP_base"/>
      <child link="Livox_HAP"/>
      <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
    </joint>
    
    <xacro:Livox_Hap_gazebo name="livox_HAP"/>
  </xacro:macro>

  <xacro:Livox_HAP name="livox_HAP"/>

  <joint name="base_link_to_lidar_joint" type="fixed">
    <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 1.58"/>
    <parent link="base_link"/>
    <child link="Livox_HAP_base"/>
    <axis xyz="0.0 0.0 0.0"/>
    <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
  </joint>
</robot>