<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="M_PI" value="3.14159"/> 
  <xacro:property name="laser_min_range" value="0.1"/>
  <xacro:property name="laser_max_range" value="200.0"/>
  <xacro:property name="ros_topic" value="scan"/>
  <xacro:property name="samples" value="45300"/>
  <xacro:property name="downsample" value="0"/>
  
  <xacro:macro name="null_inertial">
    <inertial>
      <mass value="0.1"/>
    <inertia ixx="0.01" ixy="0" ixz="0"
          iyy="0.01" iyz="0"
          izz="0.01"/>
    </inertial>
  </xacro:macro>
  <xacro:macro name="Livox_Mid_gazebo_sensor" params="visualize:=True update_rate:=10 resolution:=0.002 noise_mean:=0.0 noise_stddev:=0.01 name:=livox">
    <gazebo reference="${name}">
      <sensor type="ray" name="laser_${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>${visualize}</visualize>
        <update_rate>${update_rate}</update_rate>
        <!-- This ray plgin is only for visualization. -->
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
			
      <ray>
			  <scan>
				<horizontal>
				<samples>100</samples>
				<resolution>1</resolution>
				<min_angle>${-60/180*M_PI}</min_angle>
				<max_angle>${60/180*M_PI}</max_angle>
				</horizontal>
				<vertical>
				<samples>50</samples>
				<resolution>1</resolution>
				<min_angle>${-12.5/180*M_PI}</min_angle>
				<max_angle>${12.5/180*M_PI}</max_angle>
				</vertical>
			  </scan>
			  <range>
				<min>${laser_min_range}</min>
				<max>${laser_max_range}</max>
				<resolution>${resolution}</resolution>
			  </range>
			  <noise>
				<type>gaussian</type>
				<mean>${noise_mean}</mean>
				<stddev>${noise_stddev}</stddev>
			  </noise>
			</ray>

      <visualize>true</visualize>
		  <samples>${samples}</samples>
		  <downsample>1</downsample>
		  <!-- <csv_file_name>package://immersion_sim/scan_mode/HAP.csv</csv_file_name> -->
		  <ros_topic>${ros_topic}</ros_topic>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>


  <xacro:macro name="Livox_Mid40" params="visualize:=True name:=livox">
    <link name="lidar_base">
      <xacro:null_inertial/>
      <visual> 
        <origin xyz="0.00 0 0.0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://livox_laser_simulation/meshes/livox_mid40.dae">
          </mesh>
        </geometry>
      </visual>

      <collision>
		  <origin xyz="0 0 0" rpy="0 0 0" /> <geometry> 
        <mesh filename="package://livox_laser_simulation/meshes/livox_mid40.dae"> </mesh>
      </geometry>
      </collision>
    </link>

    <link name="lidar">
      <xacro:null_inertial/>
    </link>

    <joint name="lidar_to_lidar_base_joint" type="fixed">
      <parent link="lidar_base"/>
      <child link="lidar"/>
      <origin rpy="0 0 0" xyz="0.0 0.0 1.6"/>
    </joint>
    <xacro:Livox_Mid_gazebo_sensor name="lidar" visualize="true"/>
  </xacro:macro>
  <xacro:Livox_Mid40 name="hap"/>

  
  <joint name="base_link_to_lidar_joint" type="fixed">
    <origin xyz="0.0 0.0 0.5" rpy="0.0 0.0 1.58"/>
    <parent link="base_link"/>
    <child link="Livox_HAP_base"/>
    <axis xyz="0.0 0.0 0.0"/>
    <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
  </joint>

</robot>